@media (max-width:700px) {
   html{
      max-width: 700px;
   }
   body{
      background: url(principal.jpg ) no-repeat;
      background-position: center;
      
      
      
   }

   /* MENU */
   
   span{
      display:inline-block;
  }
   .logo .img-logo{
      position: absolute;
      height: 20px;
      left: 6%;
      top: 2%;
      display: block;
  
  }
  .logo h1 {
padding-top: 20px;
  }
.logo ul{
   display:none;
   }
  .logo{
   display: contents;
  }
   header{
      background-size: 20px;
      background-position:  calc(1%);
      background-color: rgba(232, 238, 240, 0.664);
      height: 90px;
      text-align: center;
   }
   #menu-mobile{
      position: fixed;
      left: 0;
      padding: 30px;
      margin: 30px;
      bottom: 90%;
   }
   
   .logo input{
      margin-top: 10px;
   }
  
   .nome-da-empresa{
      position: fixed;
      left: 74%;
      width: 90px;
      height: 90px;
   }
   nav ul{
      background-color: rgb(235, 236, 236);
      position: absolute;
      top: 0;
      border-radius: 0 10px 10px 0;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 260px;
      min-height: 550px;
      display:none;
      padding-top: 50px;
      
   }
   nav li{
      margin: 20px;
      border-radius: 20px;
      background-color: rgb(245, 242, 239);
      color: rgb(0, 0, 0);
      font-family: Suez One;
      
   }
   .area-inicial button{
      display: inline-block;
  }
   nav a{
      color: blueviolet;

   }
   
   /* #menu-mobile:checked ~ ul{
display: block;
   } */
   

   header img{
    height: 100px;
   } 

   /* AREA DA PARTE INICIAL */
   
   .area-inicial{
      font-size: 35px;
      text-align: center;
   }
   .area-inicial h3{
      color: hsl(0, 63%, 100%);
      font-family: Suez One;
      font-size: 40px;
      border-radius: 1px;
      border: 5px double;
      font-style: oblique;
      padding-top: 50px;
   }
   .area-inicial p{
      font-size: 25px;
      color: azure;
      font-family: Quintessential;

   }
   .area-inicial button{
      background-color: rgb(168, 149, 149);
      width: 150px;
      height: 40px;
      border-radius: 10px;
      border: 2px double;
      color: rgb(15, 77, 77);

   }

   .mostrar img{
    
      max-width: 140px;
  }
  .img-instalacao{
   height: 100px;
   width: 500px;
   padding: 0;
   margin: 0;
}
}
